
/* Esta es la seccion de las variables, para colores */
:root {
    --gris:rgb(255, 255, 255);
}


/* aqui empieza el documento */
body {
    background-color: antiquewhite;
    font-family:sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

* {
    /* border: solid black 1px;  */
}

.content-all {
    margin: 0 auto;
    width: 100%;
}

.content-size {
    margin: auto ;
    width: 75.5em;
}


/* encierra todos los contenedores */
.contenido {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10em;
    
}

header {
    background-color: var(--gris);
    width: 100%;
    box-shadow: 0px  1px 25px black;
    position: fixed;
}


.post_header {
padding: 10px;
display: flex;
justify-content: center;

}

.post_header img {
    margin-top: 100px;
}


.background {  
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 100%;
    height: 700px;
    width: 100%;
    background-image: url('../Img/SenaCentroYturismo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo {
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

.Logo img {
    height: 100px;
    width: 250px;
}

nav {
    font-size: 1.5em;
    margin-top: 5px;
}

nav:last-child {
    margin-right: 0;
}



/* use una clase para los input de boton */
.boton {
    font-size: 30px;
    padding: 0.4rem;
    color: rgb(0, 0, 0);
    border-radius: 0.6em;
    border-color: var(--moradus);
}



/* desde aqui empiezan las propiedades de los link */
a {
    text-decoration: none;
    margin-right: 1.250rem;
    color:  rgb(10, 11, 11);
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}


a:focus {
    color: rgb(0, 0, 0);
}


/* caja que contiene el texto y la imagen de la primera seccion */
.text-one { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
    font-size: 19px;
    width: 31em;
}

h1 {
    
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.text-one input {
    width: 150px;
}



/* contenedor de la imagen de la primera seccion */
.content-image {
     display: flex;
     align-items: center;
     margin-left: 150px;
    
    }
    


/* ========================================================================= */
/* SEGUNDA SECCION */
.Box2 { 
    display: flex;
    flex-direction: column;
    
}

.Box2 h2 {
    padding: 50px;
}

.Box2 img {
    height: 800px;
    margin-top: 20px;
    
}

.Text-Two {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
}


footer { 

    background-color: darkcyan;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border-top: solid orangered 3px;
}

