        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html {
            /* desplazamiento a un elemento */
            scroll-behavior: smooth;
        }

        /* *********************/
        /* seccion de bienvenida */
        /* *********************/
          
.modal-container {
    /* escondido */
    visibility: hidden ;
    /* esto hara que se salga del flujo */
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.close {
    display: none;

}

.modal {
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}
.modal-close {
    transform: translateY(-200%);
}

/* contenedor de los formularios */
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}
.caja__trasera{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(1px);
    background-color: rgba(83, 127, 36, 0.5);
    border-radius: 20px;

}
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 20px 100px 15px;

}

.caja__trasera button:hover{
    background: #fff;
    color: rgb(122, 120, 40);
}

.cerrar a {
    display: none;
}



/* formulario de login */
.contenedor_login_register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -195px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login_register form{
    width: 100%;
    padding: 30px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor_login_register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(63, 63, 33);
}
.Contenedor-entrada {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}
.Contenedor-entrada select {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

input[type="number"]{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}



::placeholder {
    color:black;
}


/* los textos de los input */
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #8d8d9c;
    font-size: 16px;
    transition: 0.4s;
    z-index: 0;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(25, 181, 209);
}
.input:focus {
    border: 2px solid rgba(83, 127, 36, 0.5);
}
#TD:focus {
    border: 2px solid rgba(83, 127, 36, 0.5);
}
.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgba(83, 127, 36);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color:rgb(63, 63, 33);
    transform: translateY(-2px);
}
.formulario_login{
    opacity: 1;
    display: block;
}

.formulario_register{
    display: none;
}



/* responsividad de los formularios */
@media screen and (max-width: 850px){


    .caja__trasera{
        height: 300px;
        flex-direction: column-reverse;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        /* position: relative; */
    }


    /*Formularios*/

    .contenedor_login_register{
        top: -40px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login_register form{
        position: relative;
        padding: 10px;
        border-radius: 10px;
    }

    .input {
        height: 40px;
        padding: 10px;
    }

    .Contenedor-entrada {
        padding: 10px;
        height: 20px;
    }

    .submitBtn {
        padding: 7px;
    }
}





/* *********************/
  /* seccion bienvenida */
  /* *********************/
		/* HEADER */
		/* esta es la seccion del header */
        /* este es el header por defecto sin responsividad */

        #inicio .contenido header {
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(1px);
            background-color: rgba(135, 116, 89, 0);
            position: fixed;
            width: 100%;
			/* esta es la sombra del header */
       
        }
		
		
		
		/* esta es la propiedad del logo, (tick_credit) */
        .logo a {
            text-decoration: none;
            color: #000;
        }


		/* esta es la seccion que alinea los elementos del nav, es el otro contenedor nav */
        #inicio .contenido .contenido-header {
            max-width: 1200px;
            height: 60%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:25px 20px;
			text-transform: uppercase;
            
        }
        
		
		/* El logo es el unico h1 del header */
        #inicio .contenido .contenido-header h1 {
            text-align: center;
            color: #000;
			text-transform: capitalize;
        }
		
        

		/* esta seccion encierra el nav */
        #inicio .contenido  .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
            
        }
        
		
		
		/* los link que hay en el header */
        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #000;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }
        
		
		/* este es el hover de los link */
        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: #beffe6;
        }
		
        
        #inicio .contenido header .contenido-header .redes a:hover {
            color: #ffffff;
        }
		
        /* por defecto el inicio viene iluminado, aqui es donde se aplica */
        #inicio .contenido header .contenido-header .seleccionado {
            color: #beffe6; 
        }
		/* responsividad del header */
		@media screen and (max-width: 800px) {
			/* el header toma el 100 de vh de la pantalla y toma el 80% de vw de la pantalla */
				     #inicio .contenido .contenido-header  {
                        font-size: 16px ;
                        top: 0;
                        margin: 0 auto;
                        padding:8px;
				     } 
				 #inicio .contenido  .contenido-header nav ul li:last-child  {
					 display:none;
				 }
                .contenido-header {
                    flex-direction: column;
                }
                h1 {
                    padding: 0;
                }
			 .contenido-header nav ul li {
				 float: none;
				 border-bottom: 1px solid rgba(255, 255, 255, .3);
			 }

		}
        #inicio .contenido .presentacion {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #inicio .contenido .presentacion .articulop {
            /* max-width: 1100px; */
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #inicio .contenido .presentacion .articulop .bienvenida {
            font-size: 50px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 7px;
        }
        #inicio .contenido .presentacion .articulop h2 {
            font-size: 34px;
            margin-bottom: 25px;
            text-align: center;
        }
        /* span de tickcredit */
        #inicio .contenido .presentacion .articulop h2 span {
            font-size: 50px;
            background: linear-gradient(rgb(63, 63, 33),rgb(122, 120, 40));
            -webkit-background-clip: text;
            color: transparent;  
        }
        #inicio .contenido .presentacion .articulop .descripcion {
            max-width: 500px;
            margin: 16px auto;
            font-size: 18px;  
        }
       
        

          .cta  {
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            width: 150px;
            height: 10px;
           color: #fff;
            font-weight: bold;
            padding: 20px;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            border-radius: 20px 100px 15px;
            font-family: helvetica;
            border: solid #ccc 1.5px;

          }

          .cta:hover {
              background-color: #5F6A40;
              transition: .3s;
          }


          
        
          @keyframes animate {
            0% {
              transform: translate(-50%, -75%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -75%) rotate(360deg);
            }
          }
          /* responsividad de la seccion inicial */
          @media screen and (max-width: 1263px) {
            #inicio .contenido .presentacion .articulop {
                width: 380px;
             }
             #inicio .contenido .presentacion .articulop .bienvenida {
                font-size: 37px;
             }
             .imgen img {
                width: 600px;
             }
          }
          @media screen and (max-width: 1021px) {
            #inicio {
                background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .2)),
                url('../Img/prueba.webp');
                background-size: cover;
                background-position: center;
                background-position: center center;
                height: 100vh;
            }
            #inicio .contenido .presentacion {
                display: block;
                overflow: hidden;  
            }
            #inicio .contenido .presentacion .articulop {
               max-width: 900px;
            }
            .imgen img {
                display: none;
            }
          }

        /* *********************/
        /* seccion funciones */
        /* *********************/
        .funciones {
            background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 20%);
        }
        #sobremi {
            max-width: 1100px;
            margin: auto;
            padding: 50px 15px;
            color: #111135;
            display: flex;
        }
        #sobremi .sobremi {
            margin: 35px;
        }
        #sobremi .sobremi .titulo-seccion {
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 1000px;
        }
        
        #sobremi .sobremi h2 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 2cm;
            letter-spacing: 2px;
        }
        #sobremi .sobremi h2 span {
            color: #000000; 
        }
        #sobremi .sobremi h3 {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        #sobremi .sobremi p {
            font-size: 20px;
            line-height: 25px;
            color: #525252;
            margin-bottom: 12px;
        }
        /* *********************/
        /* seccion servicios */
        /* *********************/
        
        #servicios {
            padding: 120px 15px;
            text-align: center;
            background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.486)), url('../Img/SinCity.jpeg');
        }
        
        #servicios .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: underline;
            text-decoration-color: #beffe6;
            text-decoration-thickness: 5px;
        }
        
        #servicios .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        

        /* contenedor del post */
        #servicios .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
            overflow: hidden;
        }
        
        #servicios .fila .servicio:hover {
            box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #c9c9c9;
        }
        
        #servicios .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: rgb(0, 0, 0);
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #servicios .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
        }
       
        .post img{
            width: 300px;
        }


        /* *********************/
        /* seccion contacto */
        /* *********************/
        
        #contacto {
            padding: 100px 15px;
            background-color: #CDDCDC;
            background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
            background-blend-mode: screen, overlay;
            background-size: cover;
        }
        
        #contacto .titulo-seccion {
            margin-bottom: 20px;
        }
        
        #contacto .contenedor-form {
            max-width: 1100px;
            margin: auto;
        }
        
        #contacto .contenedor-form .fila {
            margin-bottom: 15px;
        }
        
        #contacto .contenedor-form .mitad {
            display: flex;
            justify-content: space-between;
        }
        
        #contacto .contenedor-form input,
        #contacto .contenedor-form textarea {
            padding: 20px;
            border-radius: 25px;
            border: none;
            color: #000;
        }
        
        #contacto .contenedor-form .mitad input {
            width: 48%;
        }
        
        #contacto .contenedor-form .input-full {
            width: 100%;
        }
        
        #contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #000000;
            text-decoration-thickness: 5px;
        }
        
        #contacto .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 10px 15px !important;
            background-color: #5F6A40;
        }


        #contacto .btn-enviar:hover {
            background-color: #beffe6;
            color: rgb(0, 0, 0);
        }




        /* *********************/
        /* seccion footer */
        /* *********************/
        footer {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(0, 128, 255, 0.5);
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }
        
        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }
        /* *****************************/
        /* seccion de la responsividad*/
        /* ***************************/
        
        @media screen and (max-width: 800px) {
            
            /* seccion funciones */
            #sobremi {
                padding: 50px 0;
                display: block;
            }
            #sobremi .contenedor-foto {
                max-width: 200px;
                margin: auto;
            }
            #sobremi .contenedor-foto img {
                padding: 8px;
            }
            #sobremi .sobremi .titulo-seccion {
                text-align: center;
            }
            #sobremi .sobremi h2 {
                font-size: 25px;
                text-align: center;
            }
            /* seccion servicios */
            #servicios {
                padding: 50px 15px;
            }
            #servicios .fila {
                flex-direction: column;
            }
            #servicios .fila .servicio {
                margin: 10px auto;
            }
            /* seccion contacto */
            #contacto {
                padding: 50px 15px;
            }
            #contacto .contenedor-form .mitad {
                margin-bottom: 15px;
                display: block;
            }
            #contacto .contenedor-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }