
/* Esta es la seccion de las variables, para colores */
:root {
    --gris:rgb(185, 185, 185);
}


/* aqui empieza el documento */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

* {
    /* border: solid black 1px; */
}

.content-all {
    margin: 0 auto;
    width: 1400px;
}


/* encierra todos los contenedores */
.contenido {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10em;
}

header {
    background-color: var(--gris);
}




.Logo {

    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

.Logo img {
    height: 5em;
    width: 5em;
}

nav {
    font-size: 1.5em;
    margin-top: 5px;
}

nav:last-child {
    margin-right: 0;
}

/* use una clase para los input de boton */
.boton {
    background:linear-gradient(#9cffc2, #358155);
    padding: 0.5rem;
    color: white;
    border-radius: 0.6em;
    border-color: var(--moradus);
}



/* desde aqui empiezan las propiedades de los link */
a {
    text-decoration: none;
    margin-right: 1.250rem;
    color: rgb(10, 11, 11);
}

a:focus {
    color: rgb(41, 96, 41);
}



/* Edicion a la seccion de bienvenida */
/* si definimos medidas, la responsividad falla en cierta manera */
.Box1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
    height: 30em;
    font-size: 1.2em;
}



/* caja que contiene el texto y la imagen de la primera seccion */
.text-one {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    width: 31em;
}

h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.text-one input {
    width: 150px;
}



/* contenedor de la imagen de la primera seccion */
#content-image {
     display: flex;
     justify-content: center;
     align-items: center;
    
    }
    


/* ========================================================================= */
/* SEGUNDA SECCION */
.Box2 { 
    display: flex;
    flex-direction: column;
}

.Box2 h2 {
    padding: 50px;
}

.Text-Two {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
}




