
/* este content all hace que todo tenga una margen y puedan alinearse mejor */
.content-all {
    padding: 0;
    margin: 0;
}

.cas {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
}

 /* este admin es el contenedor de la primera caja  */
.admin{
    border: 1px solid rgb(65, 60, 60);
    background-color: #ccc;
    padding: 20px;
    width: 800px;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 2cm;
}

form * {
    padding: 8px;
}



 /* estas son las propiedades del boton Buscar, mas abajo la clase "trash" es la fuente  */
.buscarbut{
    display: flex;
    margin-top: 0.4cm;
    justify-content: center;
}

.trash{
    font-size: 15px;
    border-radius: 3cm;
}

a:hover {
    background: #2271b3;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

input[type="submit"]:hover {
    background: #2271b3;
    color:#fff;
}
input[type="number"]{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}


/* Fin de la seccion 1 */



/* Seccion 2 del contenedor */
/* Al hacer click en buscar se despliega el modal */
/* seccion del modal completa */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100VH;
    position: absolute;
    visibility: visible;
}

.close a{
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}




/* contenedor del article del modal */
.contenedor2admin{
    padding: 0.4cm;
    width: 800px;
    max-width: 800px;
    border-radius: 20px;
    background-color: #fff;
    font-family: helvetica;

}


.modalusu {
    display: flex;
    margin-left: 26px;
    font-size: 27px;
    margin-top: 0.2cm;
}


.modalsaldo{

    display: flex;
    margin-left: 26px;
    font-size: 27px;
    margin-top: 0.3cm;
}

.modalfoto {
    display: flex;
    font-size: 27px;
    justify-content: end;
    align-items: center;
}

.modalfoto img {
    border-radius: 30px;
}


.bloque-transaccion h2 {
    text-align: center;
    font-size: 30px;
    background-color: #ccc;
}


/* seccion de los botones de egreso e ingreso */

.radio {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.radio .check:after {
    content: "";
    position: absolute;
    display: none;
}


.radio:hover input ~ .check {
    border: 2px solid #3ba4e0;
}

.radio input:checked ~ .check {
    background-color: #2489C5;
    border:none;
}

.radio .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}




.tipo-detranssaccion{
font-size: 30px;
padding: 20px;
display: flex;
justify-content: space-evenly;
}



/* boton de la cantidad */
.accion-end{
    margin-top: 1cm;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;

}

.boton-end{
    display: flex;
    justify-content: center;
    padding: 1cm;

    
}


.save-end{
    font-size: 20px;
    background-color: #cce;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

#link {
    text-decoration: none;
}