@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	background: linear-gradient(rgba(82, 82, 82, 0.397), rgba(255, 255, 255, 0)),
	url('../../../Img/profile.jpg'); 
	 background-size: cover;
	background-position: center;
	background-position: center center; 	
	background-attachment: fixed;
	height: 100vh;
}


.content-all {
	margin: 0 auto;
}


.content-all div {
	transition: all 500ms;
}

/*seccion del header */

header {
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: hsla(210, 100%, 50%, 0.502);
	position: block;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 100%;
	/* esta es la sombra del header */
	box-shadow: 0px 1px 15px rgba(255, 0, 0, 0.849);	
}



header .logo {
	text-decoration: none;
	color: #d3ffdc;
	font-size: 12px;
	
}

header .logo a {
	text-decoration: none;
	padding: 20px;
	color: #d3ffdc;
}





/* boton de cerrar sesion */
header .navegation .cto {
	position: relative;
	padding: 15px 5px;
	display: flex;
	text-decoration: none;
	text-transform: uppercase;
	width: 100px;
	height: 12px;
	overflow: hidden;
	letter-spacing: 2px;
	transition: 0.3s;
	font-size: 100px;
	
	
	
}

header .navegation .cto:hover {
	background: #0080ff;
	box-shadow: 0px 0px 20px #0080ff, 0px 0px 40px #0080ff, 0px 0px 80px #0080ff;
	justify-content: end;
		

}




header .navegation .cto span {
	color: rgb(243, 234, 234);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-family: Arial;
	z-index: 1;
}






@keyframes animate {
  0% {
	transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
	transform: translate(-50%, -75%) rotate(360deg);
  }
}





/* ============================================= */


/* titulo de bienvenida */
.content-state .Welcome {
	padding: 10px;
	font-size: 20px ;
	text-align: center;
	font-weight: bold;
	color: #fffffffb;
	
}


/* contenedor de la seccion de todo el post */
.content-state {
	margin: auto;
	padding: 15px;
	height: auto;
}



/* contiene el contenedor central */
.content-state .articles-group {
	margin: auto;
	max-width: 1200px;
	padding: 80px;
	display: flex;
	flex-direction: column;
	gap: 70px;
	height: auto;
	-webkit-backdrop-filter: blur(1000px);
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.911);
    border-radius: 15px;
	box-shadow: 0px 1px 15px rgb(0, 0, 0);	
}


.content-state .articles-group .image .push {
	display: contents;
	justify-content: space-around;
	align-items: center ;
	margin: 20px;
	
	
}

.push  input{
	display: flex;
	flex: content;
	padding: 10px;
	text-decoration: none;
	outline: none;
	background-color: #3e9efff1;
	color: white; 
	text-shadow: 0px 0px 1px black;
	
}

.photo img {
	width: 400px;
	border-radius: 300px;
	margin: 30px;
}

.photo  {
	display: flex;
	justify-content: center;
	
}







/* ====================================== */

/* esta es la seccion donde esta el nombre y el saldo */
.you-money {
	padding: 50px;
	max-width: 1200px;
	color: white;
}



.you-money .money {
	
	font-size: 20px;
	padding: 20px;
	color: black;
}

.you-money .money .saldo {
	display: flex;
	justify-content: center;
}

/* nombre */
.you-money .title {
	padding: 10px;
	font-size: 19px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.you-money .title p {
	padding: 10px;
}


	
	


/* Responsividad de los elementos */
@media screen and (max-width: 900px) {
	.content-state .articles-group {
		flex-direction: column;
		gap: 0;
		height: auto;
		width: auto;
	}
}










